## Ignore Visual Studio temp files and build directories
.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini

## User-specific files
*.rsuser
*.suo
*.user
*.userhost
*.userprefs

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Log]/
